@use '../variables' as *;

.about {
  &__title {
    max-width: 891px;
    margin-bottom: 60px;
    font-size: 30px;

    &-highlight {
      font-size: 30px;
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    &-statistics {
      flex-basis: 260px;
    }

    &-number {
      font-size: 70px;
      font-weight: 600;
      word-break: keep-all;
      color: $statistics-number-color;
    }

    &-text {
      font-size: 18px;
      color: $text-color-quaternary;
    }
  }
}