@use '../variables' as *;

.benefits {
  background-color: $bg-color-tertiary;

  &__title {
    margin-bottom: 50px;
    font-size: clamp(30px, 3vw, 50px);
    font-weight: 600;
    color: $text-color-primary;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .benefit-item {
    flex-basis: 360px;

    &__title {
      font-size: clamp(20px, 2vw, 24px);
      font-weight: 600;
      color: $text-color-primary;
    }

    &__text {
      margin-top: 20px;
      font-size: clamp(16px, 1.5vw, 18px);
      color: $text-color-quaternary;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-flex;
  width: 24px;
  height: 24px;
  bottom: 20px;
  left: 0;

  &__icon {
    position: absolute;
    bottom: -24px;
    left: 0;
  }

  &__text {
    max-width: 251px;
    width: max-content;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    display: none;
    background-color: $bg-color-primary;
    color: $text-color-primary;
    box-shadow: $shadow-light;
  }

  &:hover &__text {
    display: block;
  }
}

@media (max-width: 768px) {
  .benefits {
    padding: 40px 0;

    .container {
      padding: 0 10px;
    }

    &__title {
      text-align: center;
      min-width: 300px;
    }

    &__items {
      gap: 30px;
      margin-top: 40px;
    }

    .benefit-item {
      &__title {
        text-align: center;
      }

      &__text {
        text-align: center;
        margin-top: 10px;
        min-width: 300px;
      }
    }
  }

  .tooltip {
    &__text {
      left: 50%;
      transform: translateX(-70%);
    }
  }
}
