@use '../variables' as *;

.benefits {
  background-color: $bg-color-tertiary;

  &__title {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 600;
    color: $text-color-primary;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .benefit-item {
    flex-basis: 360px;

    &__tl {
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
      color: $text-color-primary;
    }

    &__text {
      margin-top: 50px;
      font-size: 18px;
      color: $text-color-quaternary;
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    min-height: 24px;
    min-width: 24px;

    &__icon {
      position: absolute;
      bottom: 50%;
      left: 40%;
      padding-top: 10px;
    }

    &__text {
      position: absolute;
      bottom: 200%;
      left: 7%;
      min-width: 251px;
      padding: 15px;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      display: none;
      border-radius: 10px;
      background-color: $bg-color-primary;
      color: $text-color-primary;
      box-shadow: $shadow-light;
    }

    &:hover .tooltip__text {
      display: block;
    }
  }
}
