@use '../variables' as *;

.footer {
  background-color: $primary-color;

  &__content {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    padding-top: 20px;
  }

  &__copyright {
    color: $text-color-secondary;
  }
}
