@use '../variables' as *;

.footer {
  background-color: $primary-color;
  padding: 42.5px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__copyright {
    color: $text-color-secondary;
  }
}
