@use '../variables' as *;

.enroll {
  background-color: $bg-color-quaternary;
  background-image: url('../assets/images/background__image.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 144px;
  }

  .enroll-info {
    &__title {
      width: 90%;
      max-width: 350px;
      font-size: 36px;
      font-weight: 600;
      color: $text-color-tertiary;
    }

    &__text {
      font-size: 20px;
      color: $text-color-tertiary;
      margin-top: 20px;
    }
  }

  .enroll__form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    gap: 10px;
  }

  .enroll-field {
 
    &__input {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      height: 64px;
      background-color: $bg-color-primary;
      border-radius: 5px;

      &:focus::placeholder {
        color: transparent;
      }
    }

    &__label {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
    }
  }
}
