@use '../variables' as *;

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.header {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 20px;
}

.header__menu {
  ul {
    display: flex;
    grid-gap: 40px;
  }

  &-link {
    font-size: 20px;
    color: $link-color-primary;
  }

  &-link:hover {
    text-decoration: underline;
  }
}
