@use '../variables' as *;

.modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  &.open {
    display: flex;
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: $bg-color-modal-quinary;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    background-color: $bg-color-primary;
    border-radius: 20px;
    max-width: 940px;
    max-height: 90vh;
    padding: 40px;
  }

  &__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    color: $text-color-quaternary;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $controls-bg-primary-hover;
      transform: scale(1.03);
    }
  }
}

.teacher-block {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__teacher {
    display: flex;
    gap: 40px;
  }

  &__image {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    color: $text-color-primary;
    font-size: 24px;
    font-weight: 600;
  }

  &__subtitle {
    color: $text-color-quaternary;
  }

  &__social {
    display: flex;
    gap: 10px;

    a {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color-primary;
    margin-bottom: 20px;
  }

  &__button {
    display: flex;
    flex: 0 1 33%;
    padding: 20px 0;
    color: $text-color-primary;
    font-size: 20px;
    cursor: pointer;

    &.active {
      color: $controls-bg-primary-hover;
    }

    &:hover {
      color: $controls-bg-primary-hover;
    }
  }

  &__information {
    position: relative;
    height: 355px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      height: 50px;
      background: linear-gradient(to bottom, rgba(232, 226, 226, 0) 0%, rgb(255, 255, 255) 100%);
      filter: blur(1px);
      pointer-events: none;
    }
  }

  &__info-block {
    height: 100%;
    overflow-y: auto;
  }

  &__info-content {
    width: 95%;
    display: none;

    &.active {
      display: block;
    }
  }

  &__subsection-title {
    color: $text-color-primary;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__text-first {
    margin-bottom: 40px;
    font-size: 20px;
    color: $text-color-primary;
  }

  &__text {
    font-size: 20px;
    color: $text-color-primary;
  }
}
