@use '../variables' as *;

.teacher-modal {
  display: flex;
  flex-direction: column;

  &__teacher {
    display: flex;
    gap: 40px;
  }

  &__image {
    width: 160px;
    height: auto;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__social {
    display: flex;
    gap: 10px;

    a {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    color: $text-color-primary;
    font-size: 24px;
    font-weight: 600;
  }

  &__subtitle {
    color: $text-color-quaternary;
  }

  &__buttons {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color-primary;
  }

  &__button {
    display: flex;
    flex: 0 1 33%;
    padding: 20px 0;
    color: $text-color-primary;
    font-size: 20px;
    cursor: pointer;

    &.active {
      color: $controls-bg-primary-hover;
    }

    &:hover {
      color: $controls-bg-primary-hover;
    }
  }

  &__information {
    position: relative;
    height: 355px;
    margin-top: 20px;
    overflow: hidden; /* <- ограничивает псевдоэлемент по горизонтали */

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      height: 50px;
      background: linear-gradient(to bottom, rgba(232, 226, 226, 0) 0%, rgb(255, 255, 255) 100%);
      filter: blur(1px);
      pointer-events: none;
    }
  }

  &__info-wrapper {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 25px;
  }

  &__info-content {
    text-align: justify;
    width: 95%;
    display: none;

    &.active {
      display: block;
    }
  }

  &__subsection-title {
    display: inline-block;
    color: $text-color-primary;
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
  }

  &__text {
    font-size: 20px;
    color: $text-color-primary;
  }

  &__text--top-margin {
    margin-top: 20px;
  }

  &__title-text {
    display: inline-block;
    color: $text-color-primary;
    font-size: 24px;
    font-weight: 600;
  }
}
