@use '../variables' as *;

.packages {
  padding-top: 0;

  &__title {
    font-size: clamp(30px, 3vw, 50px);
    font-weight: 600;
    color: $text-color-primary;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 80px;
  }

  .package-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 360px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid $primary-color;
    background-color: $bg-color-primary;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      transform: scale(1.02);
      background-color: $bg-color-secondary;

      .package-card__name,
      .package-card__price,
      .package-card__description {
        color: $text-color-tertiary;
      }
    }

    &__name {
      position: relative;
      font-size: 30px;
      font-weight: 600;
      color: $text-color-primary;

      &::before,
      &::after {
        content: '\2014';
        position: absolute;
        top: 50%;
        transform: translateY(-55%);
      }

      &::before {
        left: -35px;
      }

      &::after {
        right: -35px;
      }
    }

    &__price {
      margin-top: 83px;
      font-size: 50px;
      font-weight: 600;
      color: $text-color-primary;
    }

    &__description {
      width: 100%;
      text-align: center;
      margin: 20px 0 55px;
      font-size: clamp(16px, 1.5vw, 18px);
      color: $text-color-primary;
    }

    &__button {
      margin-top: auto;
      align-self: stretch;
    }
  }
}

@media (max-width: 768px) {
  .packages {
    padding: 60px 0;
    scroll-margin-top: 50px;

    .container {
      padding: 0 10px;
    }

    &__title {
      text-align: center;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

    .package-card {
      padding: 40px 20px;
      max-width: 300px;

      &:hover {
        transform: none;
        background-color: transparent;

        .package-card__name,
        .package-card__price,
        .package-card__description {
          color: $text-color-primary;
        }
      }

      &__price {
        margin-top: 40px;
      }

      &__description {
        margin: 20px 0 40px;
      }

      &__button {
        padding: 17px 74.5px;
        white-space: nowrap;
      }
    }
  }
}
