@use '../variables' as *;

.promo {
  position: relative;
  height: calc(100dvh - 108px);
  max-height: 972px;
  overflow: hidden;
  background-color: $bg-color-secondary;

  &__image {
    position: absolute;
    height: auto;
    width: 783px;
    top: 53px;
    left: 48%;
  }

  &__text {
    padding-top: 116px;

    &-title {
      font-size: clamp(30px, 5vw, 70px);
      font-weight: 600;
      color: $text-color-tertiary;
    }

    &-descr {
      max-width: 478px;
      padding: 10px 0 40px 0;
      font-size: clamp(16px, 1.5vw, 20px);
      color: $text-color-tertiary;
    }
  }
}

@media (max-width: 768px) {
  .promo {
    position: relative;
    padding: 47px 0 40px 0;
    height: auto;

    &__image {
      display: block;
      position: static;
      max-width: 273px;
      margin-top: 20px;
      margin: 0 auto;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0;

      &-title {
        padding: 0;
        font-weight: 600;
        min-width: 221px;
      }

      &-descr {
        max-width: 300px;
        text-align: center;
        padding: 0;
        margin-top: 10px;
      }

      &-btn {
        position: absolute;
        padding: 16px 0;
        bottom: 40px;
        min-width: 300px;
      }
    }
  }
}
