@use '../variables' as *;

.teachers {
  &__title {
    font-size: 50px;
    font-weight: 600;
    color: $text-color-primary;
  }

  .teachers-slider {
    margin-top: 60px;
    overflow: hidden;

    &__items {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 40px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
      }
    }
  }

  .teachers-card {
    flex: 1 0 360px;

    &__image {
      height: 500px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    &__name {
      display: block;
      margin-top: 20px;
      font-size: 24px;
      font-weight: 600;
      color: $text-color-primary;
    }

    &__description {
      margin-top: 10px;
      font-size: 18px;
      color: $text-color-quaternary;
    }

    &__btn {
      margin-top: 20px;
      font-size: 18px;
      color: $controls-bg-primary;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        font-weight: 600;
        color: $primary-color;
      }
    }
  }

  .teachers-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    &__scrollbar {
      position: relative;
      width: 360px;
      background-color: $controls-bg-tertiary;
      height: 5px;
      border-radius: 10px;
    }

    &__scrollbar-progress {
      position: absolute;
      cursor: pointer;
      width: 260px;
      height: 100%;
      background-color: $controls-bg-secondary;
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__button {
      &:hover {
        transform: scale(1.2);
        transition: transform 0.5s ease;

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
