@use '../variables' as *;

.teachers {
  &__title {
    font-size: 50px;
    font-weight: 600;
    color: $text-color-primary;
  }

  &__slider {
    margin-top: 60px;
    overflow: hidden;

    .teachers__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 10px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;

      .teacher-wrapper {
        flex-basis: 360px;
        min-width: 360px;

        &__image {
          height: 500px;
          width: 100%;
          object-fit: cover;
        }

        &__title {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 600;
          color: $text-color-primary;
        }

        &__text {
          margin-top: 10px;
          font-size: 18px;
          color: $text-color-quaternary;
        }

        &__btn {
          margin-top: 20px;
          font-size: 18px;
          color: $controls-bg-primary;

          &:hover {
            text-decoration: underline;
            font-weight: 600;
            color: $primary-color;
          }
        }
      }
    }

    .teacher-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 77px;

      &__scrollbar {
        width: 360px;
        background-color: $controls-bg-tertiary;
        height: 5px;
        border-radius: 10px;
      }

      &__scrollbar-progress {
        width: 260px;
        height: 100%;
        background-color: $controls-bg-secondary;
        border-radius: 10px;
      }

      &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        .teachers-controls__btn:hover {
          transform: scale(1.2);
          transition: transform 0.5s ease;
        }

        .teachers-controls__btn :active {
          transform: scale(0.95);
        }
      }
    }
  }
}
