@use 'variables' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 320px;
  margin: 0;
  font-family: $font-main;
  line-height: 1.6;
  background-color: $bg-color-primary;
  color: $text-color-primary;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 20px;

  &--wide {
    max-width: 1760px;
  }
}

section {
  padding: 120px 0;
}

.main {
  flex: 1;
}

.logo {
  font-size: clamp(18px, 4vw, 30px);
  font-weight: 700;
  color: $controls-color-primary;
}

.phone {
  font-size: clamp(16px, 3vw, 30px);
  font-weight: 600;
  color: $controls-color-primary;
}

b {
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

.scroll-section {
  scroll-margin-top: 50px;
}

.scroll-section-packages {
  scroll-margin-top: 150px;
}
