$font-main: 'Jost', sans-serif;

$primary-color: #141024;
$secondary-color: #ffffff;
$tertiary-color: #dddce0;
$accent-color: #d52027;

$bg-color-primary: #ffffff;
$bg-color-secondary: $primary-color;

$text-color-primary: $primary-color;
$text-color-secondary: #b8b7bd;
$text-color-tertiary: $secondary-color;
$text-color-quaternary: #5b6866;

$statistics-number-color: $accent-color;

$controls-bg-primary: $accent-color;
$controls-bg-primary-hover: #bc0202;
$controls-color-primary: $secondary-color;
$controls-bg-secondary: $primary-color;
$controls-bg-secondary-hover: #381f9c;
