$font-main: 'Jost', sans-serif;

$primary-color: #141024;
$secondary-color: #ffffff;
$tertiary-color: #dddce0;
$accent-color: #d52027;
$copyright-color: #ffffffb2;

$controls-bg-primary: $accent-color;
$controls-color-primary: $secondary-color;

$text-color-primary: $primary-color;

$link-color: $secondary-color;
